.root {
   .timer {
      width: 200px;
      margin: 0 auto;
      padding: 20px 0;
      text-align: center;
      color: #a94543;
      border-radius: 10px;
      background-color: #f2dede;
     }
}

